# H1 : DataScienceEcosystem.ipynb

In this notebook, Data Science Tools and Ecosystem are summarized.

#Objectives:
* List popular languages for Data Science
* List the libraries used in data science
* Perform arithmetic operations in Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Matplotlib
4. Pandas

|Data Science Tools |
| ----------------- | 
| VSCode |
|Jupyter Notebooks | 
| GitHub |
| RStudio |

###  Below are a few examples of evaluating arithmetic expressions in Python
2*3

In [4]:
#This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hr = min/60
print(hr)

3.3333333333333335

## Author
Vijitha Mittapalli